<h1>Sign Up</h1>
<%= render partial: 'messages/error', locals: {agnostic: @user}  %>

<%= form_for @user do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %><br><br>
    <%= f.label :email %>
    <%= f.text_field :email %><br><br>
    <%= f.label :password %>
    <%= f.text_field :password %><br><br>
    <%= f.submit %>
<% end %>

<%= link_to "Cancel", "/signin" %>


