<div class="reservation">
    <p>Check-in Date: <%= reservation.checkin_date %></p>
    <p>Check-out Date: <%= reservation.checkout_date %></p>
    <p>Guests: <%= reservation.guests %></p>
    <p>Price: <%= reservation.currency %> <%= reservation.price %></p>
</div>