<div class="reservation">
  <p>Check-in Date: <%= reservation.checkin_date %></p>
  <p>Check-out Date: <%= reservation.checkout_date %></p>
  <p>Guests: <%= reservation.guests %></p>
  <p>Price: <%= reservation.currency %> <%= reservation.price %></p>
  <% if reservation.review %>
    <%= link_to 'Show review', reservation_review_path(reservation, reservation.review) %><br>
  <% elsif open_for_review?(reservation) %>  
    <%= link_to 'Write a review', new_reservation_review_path(reservation) %>
  <% end %>
</div>