<%= render partial: 'messages/msg' %>

<h1>My Reservations</h1><br>

<% if !@reservations %>
  <p>It seems you haven't booked any reservations yet :)</p>
<% else %>

  <% upcoming_reservations = @user.upcoming_reservations %>
  <% if !upcoming_reservations.empty? %>
    <p>Upcoming:</p>
    <ul>
      <% upcoming_reservations.each do |reservation| %>
        <li>
          <h3><%= link_to reservation.hotel.name, reservation_path(reservation) %></h3>
          <%= reservation.hotel.city.name %>
          <%= render 'reservations/info', :reservation => reservation %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% previous_reservations = @user.previous_reservations %>
  <% if !previous_reservations.empty? %>
    <p>Previous:</p>
    <ul>
      <% previous_reservations.each do |reservation| %>
        <li>
          <h3><%= link_to reservation.hotel.name, reservation_path(reservation) %></h3>
          <%= reservation.hotel.city.name %>
          <%= render 'reservations/info', :reservation => reservation %>
        </li>
      <% end %>
    </ul>
  <% end %>

<% end %>

