<h1>My Reservations</h1>
<%= render partial: 'messages/msg' %><br>

<% if @reservations.empty? %>
  <h3>It seems you haven't booked any reservations yet :)</h3>
<% else %>

  <% if upcoming_reservations?(@user) %>
    <p>Upcoming:</p>
    <ul>
      <% @user.upcoming_reservations.each do |reservation| %>
        <li>
        <div class="card border-dark mb-3" style="max-width: 28rem;">
          <div class="card-body">
          <h5 class="card-header"><%= link_to reservation.hotel.name, reservation_path(reservation) %></h5>
          <p class="card-text"><%= reservation.hotel.city.code %></p>
          <%= render 'reservations/info', :reservation => reservation %>
          </div>
        </div>
        </li>
      <% end %>
    </ul>
  <% end %>
 
  <% if previous_reservations?(@user) %>
    <p>Previous:</p>
    <ul>
      <% @user.previous_reservations.each do |reservation| %>
        <li>
          <h2><%= link_to reservation.hotel.name, reservation_path(reservation) %></h2>
          <p><%= reservation.hotel.city.code %></p>
          <%= render 'reservations/info', :reservation => reservation %>
        </li>
      <% end %>
    </ul>
  <% end %>

<% end %>

