<div class="row">
  <h3><%= link_to hotel.name, search_results_path(hotelId: hotel.hotelId) %></h3>
  <% reservation_data = @user.unbooked_reservation(hotel) %> 
  <p>
    Guests: <%= reservation_data.guests %><br>
    Beds: <%= reservation_data.room.beds %><br>
    Price: <%= reservation_data.currency %> <%= reservation_data.price %>
  </p>
</div>