<div class"view" id="index">
<div>
<%= form_with url: "/", method: :get do |form| %>
  <%= form.label :city, "Search for:" %>
  <%= form.text_field :city %>
  <%= form.label :checkin_date, "Check-in date:" %>
  <%= form.date_field :checkin_date, :class =>"datepicker" %>
  <%= form.label :checkout_date, "Check-out date:" %>
  <%= form.date_field :checkout_date %>
  <%= form.label :guests, "Guests:" %>
  <%= form.select :guests, [1,2,3,4,5], :include_blank => true %>
  <%= form.submit "Search" %>
<% end %>
</div>

<div class="msg">
  <% if flash[:msg] %>
    <%= flash[:msg] %>
  <% end %>
</div>

<div class="series" id="hotels" >
  <% if @hotels %>
    <ul>
      <% @hotels.each do |hotel| %>
        <a href="/<%= hotel.hotelId %>">
          <div>
            <li>
              <%= hotel.name %><br>
              <%= hotel_price(hotel) %><br>
              <span>Adults: <%= hotel_guests(hotel) %></span><br>
              <span>Beds: <%= hotel_beds(hotel) %></span>
            </li>
          </div>
        </a>
      <% end %>
    </ul>
  <% end %>
</div>
  
</div>