<div class"view" id="index">

  <div>
    <%= render 'hotel_search' unless @nested_city %>
  </div>

  <%= render partial: 'messages/msg' %>

  <div class="series" id="hotels" >
    <% if @hotels %>
      <h2>Your hotels in <%= @nested_city.code if @nested_city %></h2><br>
      <ul>
        <% @hotels.each do |hotel| %>
          <div>
            <li>
              <%= link_to hotel.name, @nested_city ? "#{city_hotel_path(@nested_city,hotel.id)}" : "#{hotel.hotelId}" %><br>
              <span>Guests: <%= hotel_guests(hotel) %></span><br>
              <span>Beds: <%= hotel_beds(hotel) %></span>
              <p>Price: <%= hotel_currency(hotel) %><%= hotel_price(hotel) %></p>
            </li>
          </div>
        <% end %>
      </ul>
    <% end %>
  </div>
  
</div>