<div class"view" id="index">
<%= form_with url: "/", method: :get do |form| %>
  <%= form.label :query, "Search for:" %>
  <%= form.text_field :query %>
  <%= form.submit "Search" %>
<% end %>

<div class="msg">
  <% if flash[:msg] %>
    <%= flash[:msg] %>
  <% end %>
</div>

<div class="series" id="hotels" >
  <% if @hotels %>
    <ul>
      <% @hotels.each do |hotel| %>
        <a href="/<% =hotel.hotelId %>">
          <li>
            <span>hotel.name</span>
          </li>
        </a>
      <% end %>
    </ul>
  <% end %>
</div>
  
</div>