<div class"view" id="index">

  <div>
    <%= render 'hotel_search' unless @nested_city || @nested_user %>
  </div>

  <%= render partial: 'messages/msg' %>
  
  <div class="series" id="hotels" >
    <% if @hotels %>
      <% if @nested_city.nil? && @nested_user.nil? %>
        <%= render partial: 'search_results', collection: @hotels, as: :hotel %>
      <% else %>
        <h2><%= @nested_city ? "My Hotels in #{@nested_city.code}" : "My Hotels" %>:</h2><br>
        <ul>
          <% @hotels.each do |hotel| %>
            <div>
              <li>
                <%= link_to hotel.name, hotel_path(hotel.id) %>
              </li><br>
            </div>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>
  
</div>