<div class="view" id="hotel-show">

  <%= render partial: 'messages/msg' %>

  <div class="box" id="hotel">
    <%= render 'hotels/info' %>
  </div>

  <div class="box" id="reservations">
    <% if unbooked_reservation?(@hotel) %>  
      <h3>Offer:</h3>
      <%= render partial: 'reservations/info', collection: User.first.unbooked_reservation(@hotel), as: :reservation %>
      <a href="/reserve/<%= @hotel.hotelId %>/<%= reservation_code(@hotel) %>">Reserve</a>
    <% elsif @single_reservation %>
      <h3>Reservation</h3><br>
      <p><%= upcoming_single_reservation?(@single_reservation) ? 'Upcoming' : 'Previous' %></p>
      <%= render partial: 'reservations/info', locals: {reservation: @single_reservation} %>
    <% else %>
      <h3>Reservations</h3><br>
      <% if upcoming_reservations?(@hotel) %>
        <p>Upcoming:</p><br>
        <%= render partial: 'reservations/info', collection: User.first.upcoming_reservations(@hotel), as: :reservation %>
      <% end %><br>
      <% if previeous_reservations?(@hotel) %>
        <p>Previous:</p><br>
        <%= render partial: 'reservations/info', collection: User.first.previous_reservations(@hotel), as: :reservation %>
      <% end %>
    <% end %>
  <div>

  <div class="box" id="reviews">
  </div>

</div>