<div class="view" id="hotel-show">

  <%= render partial: 'messages/msg' %>

  <div class="box" id="hotel">
    <%= render partial: 'hotels/info', locals: { hotel: @hotel}  %>
  </div>

  <div class="box" id="reservations">
    <% if unbooked_reservation?(@hotel) %>  
      <h3>Offer:</h3>
      <%= render partial: 'reservations/info', collection: @user.unbooked_reservation(@hotel), as: :reservation %>
      <a href="/reserve/<%= @hotel.hotelId %>/<%= reservation_code(@hotel) %>">Reserve</a>
    <% elsif @single_reservation %>
      <h3>Reservation</h3><br>
      <p><%= upcoming_single_reservation?(@single_reservation) ? 'Upcoming' : 'Previous' %></p>
      <%= render partial: 'reservations/info', locals: {reservation: @single_reservation} %>
    <% else %>
      <h3>Reservations</h3><br>
      <% if upcoming_reservations?(@hotel) %>
        <p>Upcoming:</p><br>
        <%= render partial: 'reservations/info', collection: @user.upcoming_reservations(@hotel), as: :reservation %>
      <% end %><br>
      <% if previous_reservations?(@hotel) %>
        <p>Previous:</p><br>
        <%= render partial: 'reservations/info', collection: @user.previous_reservations(@hotel), as: :reservation %>
      <% end %>
    <% end %>
  <div>

  <div class="box" id="reviews">
    <div>
      <% @hotel.reviews.each do |review| %>
        <p><%= review.reservation.user.first_name %></p>
        <p>Posted on <%= review.created_at %></p>
        <p><%= review.description %></p>    
      <% end %>  
  </div>
</div>