<div class="view" id="hotel-show">
  <div class="msg">
    <% if flash[:msg] %>
      <%= flash[:msg] %>
    <% end %>
  </div>

  <div class="box" id="hotel">
    <h2><%= @hotel.name %></h2>
    <%= @hotel.description  %><br>
  </div>

  <div class="box" id="reservations">
    <% if !unbooked_reservation(User.first, @hotel).empty? %>  
    <h3>Offer</h3>
      <%= render partial: 'reservations/info', collection: unbooked_reservation(User.first, @hotel), as: :reservation %>
      <a href="/reserve/<%= @hotel.hotelId %>/<%= reservation_code(@hotel) %>">Reserve</a>
    <% else %>
    <h3>Reservations</h3>
      <%= render partial: 'reservations/info', collection: booked_reservations(User.first, @hotel), as: :reservation %>
    <% end %>
  <div>

  <div class="box" id="reviews">
  </div>

</div>