<div class="view" id="hotel-show">
  
  <%= render partial: 'messages/msg' %>
  
  <%# This view is composed of three components: hotel, reservation, and reviews %>

  <%# Hotel component %>
  <div class="box" id="hotel">
    <%= render partial: 'hotels/info', locals: { hotel: @hotel}  %>
  </div>

  <%# Reservation component %>
  <div class="box" id="reservations">
    <%# An unbooked_reservation occurs when the user search for hotels and clicks on a hotel link from search results %>
    <% unbooked_reservation = @user.unbooked_reservation(@hotel) %>
    <% if unbooked_reservation %>  
      <h3>Offer:</h3>
      <%= render partial: 'reservations/info_no_links', locals: { reservation: unbooked_reservation } %><br>
      <a href="/reserve/<%= @hotel.hotelId %>/<%= unbooked_reservation.code %>">Reserve</a>
    <%# single_reservation occurs when user clicks on a reservation link in reservations index page %>
    <% elsif @single_reservation %>
      <h3>Reservation</h3>
      <p><%= upcoming_single_reservation?(@single_reservation) ? 'Upcoming' : 'Previous' %></p>
      <%= render partial: 'reservations/info', locals: {reservation: @single_reservation} %>
    <% else %>
      <%# In this view, upcoming_reservations and previous_reservations occur when user clicks on a hotel name in the hotels index page %>
      <h3>Reservations</h3>
      <% upcoming_reservations = @user.upcoming_reservations(@hotel) %>
      <% if !upcoming_reservations.empty? %>
        <p>Upcoming:</p>
        <%= render partial: 'reservations/info', collection: upcoming_reservations, as: :reservation %>
      <% end %>
      <% previous_reservations = @user.previous_reservations(@hotel) %>
      <% if !previous_reservations.empty? %>
        <p>Previous:</p>
        <%= render partial: 'reservations/info', collection: previous_reservations, as: :reservation %>
      <% end %>
    <% end %>
  </div>

  <%# Reviews component %>
  <div class="box" id="reviews">
    <h3>Reviews</h3>
    <div>
      <% @hotel.reviews.includes(reservation: [:user]).each do |review| %>
        <p>
          <%= review.reservation.user.username %><br>
          Posted on <%= review.creation_time %><br>
        </p>
        <blockquote class="review-block">
          "<em><%= review.description %></em>"
        </blockquote>
      <% end %>  
    </div>
  </div>

</div>