<div class="single" id="show">
  <span><%= @hotel.name %></span>
  <span><%= @hotel.reservations.last.guests %></span>
  <span><%= @hotel.reservations.last.checkin_date %></span>
  <span><%= @hotel.reservations.last.checkout_date %></span>
  
  <a href="/reserve/<%= @hotel.hotelId %>/<%= @hotel.reservations.last.code %>">Reserve</a>