<h1>New Review</h1>
<%= render partial: 'messages/error', locals: { agnostic: @review } %>
<%# the new review comes with its parent reservation loaded when opened through the new_reservation_review path %>
<%# in a hotel show page or reservations index page; otherwise the new review comes with no reservation when opened  %>
<%# through the New Review link in the reviews index page with the option of selecting a reservation from a dropdown field in the below form %>
<% unless @review.reservation.nil? %>
  <p><%= @review.reservation.hotel.name %><br>
     <%= @review.reservation.hotel.city.code %>
  </p>
  <%= render partial: 'reservations/info_no_links', locals: {reservation: @review.reservation} %><br>
<% end %>
<%= render 'form' %>
<%= link_to "Cancel", :back %>